body{
  font-family: 'Sen', sans-serif;
  text-emphasis-color: #5E6973;
  background: #BDFFFD;
}
.header{
  background: #9FFFF5;
}
.container{
  background-color: #7CFFC4;
}
.row{
  background-color: #6ABEA7;
}
